* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #000b1a;
  font-family: "Inter", sans-serif;
}

.languageBtn {
  border: none;
}

.languageBtn img {
  font-size: 2rem;
}
#root > div > div.sc-bcXHqe.dvSGaw > div > button.languageBtn > img {
  scale: 1.4;
}
.active {
  background-color: #af0c48;
  color: wheat;
}

/* Nav */

.NavAllContainer {
  width: 100%;
  position: fixed;
  background-color: #5247e6;
  padding: 0.6rem 1rem;
  box-shadow: rgba(153, 153, 153, 0.2) 0px 7px 29px 0px;
}
.NavAllContainerDark {
  width: 100%;
  position: fixed;
  background: -webkit-linear-gradient(
    58deg,
    rgba(2, 0, 37, 1) 0%,
    rgba(0, 37, 108, 1) 54%,
    rgba(0, 16, 94, 1) 100%
  );
  padding: 0.6rem 1rem;
  box-shadow: rgba(153, 153, 153, 0.2) 0px 7px 29px 0px;
}

.navbarCenter {
  max-width: 70%;
  min-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav2 {
  display: none;
}
.hamburgerMenuAllContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #5247e6;
  padding: 0.6rem 0;
  box-shadow: rgba(153, 153, 153, 0.2) 0px 7px 29px 0px;
}
.hamburgerMenuAllContainerDark {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #020025;
  padding: 0.6rem 0;
  box-shadow: rgba(153, 153, 153, 0.2) 0px 7px 29px 0px;
}
#nav2 > div > svg > path {
  fill: white !important;
}
.hamburgerFlexContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-width: 500px; */
  text-align: center;
}

.hamburgerUl {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.hamburgerUl li {
  margin-top: 5px;
  background-color: #271adf4d;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  padding: 0.6rem 0;
}
.hamburgerUl li a {
  color: white;
  text-decoration: none;
}

#nav1 > div > div > div.darkmode > svg {
  fill: yellow !important;
}
#nav2 > div > div.darkmode > svg {
  fill: yellow !important;
}

@media screen and (max-width: 900px) {
  #nav1 {
    /* previous styles */
    display: none;
  }

  #nav2 > div > div.darkmode > svg {
    font-size: 1.5rem;
    /* padding-top: 12px !important; */
  }

  #nav2 {
    display: block;
  }
}
.navRight {
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}

.profileATags {
  margin-right: 40px;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: underline 2px rgba(0, 0, 0, 0);
  transition: text-decoration-color 500ms;
}
.parentATags:hover {
  scale: 1.2;
  transition: scale 0.33s linear 0s;
}
.profileATags:hover {
  text-decoration-color: rgb(207, 0, 0);
  scale: 1.7;
}

#root > div > nav > div.navRight > div.darkmode > svg > path {
  color: rgb(254, 255, 189);
  cursor: pointer;
  margin-right: -50px;
}

/* About */

.aboutAllContainer {
  width: 100%;
  background: -webkit-linear-gradient(
    66deg,
    rgb(184, 179, 179) 0%,
    rgb(253, 98, 220) 51%,
    rgb(255, 197, 38) 100%
  );
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutAllContainerDark {
  background: -webkit-linear-gradient(
    66deg,
    rgb(122, 35, 35) 0%,
    rgb(75, 4, 59) 51%,
    rgb(95, 0, 0) 100%
  );
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.leftSide {
  max-width: 50%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 250px;
}

.aboutNameDark {
  color: #dfdfdf;
  font-size: 4rem;
  font-style: italic;
}

.abouth5 {
  font-style: italic;
  color: #000b1a;
}

.abouth5Dark {
  color: #d6d6d6 !important;
  font-style: italic;
}

.aboutWelcomeDark {
  font-style: italic;
  color: #ada9bd;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.aboutWelcome {
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 500px) {
}

.rightSide {
  margin-left: 2rem;
}

.profileImg {
  width: 160px;
  height: 150px;
}

.socialGitIcon {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  * {
    font-size: 12px;
  }
  .socialGitIcon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .socialA,
  .socialADark {
    max-width: max-content;
  }

  .aboutWelcome,
  .aboutWelcomeDark {
    margin: 1rem 0;
    text-align: justify;
  }
  .leftSide {
    min-width: 70%;
  }

  .leftSide h5 {
    text-align: center;
    margin-bottom: 10px;
  }

  .rightSide {
    display: none;
  }
}

.socialA {
  margin: 1rem 1rem 1rem 0rem;
  min-width: 150px;
  text-align: center;
  border: 1px solid #01000c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 12px;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #050049;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
}
.socialADark {
  margin: 1rem 1rem 1rem 0rem;
  min-width: 150px;
  text-align: center;
  border: 1px solid #aeaeb6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 12px;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #dfdfdf;
  /* background-color: #0a66c2; */
  border-radius: 10px;
}

.socialA:hover {
  background-color: #3730a3;
  color: white;
}
.socialADark:hover {
  background-color: #2b001a;
  color: white;
}

#root
  > div
  > div.aboutAllContainer
  > div
  > div.leftSide
  > div:nth-child(4)
  > div
  > a
  > svg
  > path {
  color: black;
}
#root
  > div
  > div.aboutAllContainerDark
  > div
  > div.leftSide
  > div:nth-child(4)
  > div
  > a
  > svg
  > path {
  color: rgb(247, 247, 247);
}

.aboutAllContainerDark > div > div.leftSide > div:nth-child(4) > div > a > svg {
  fill: #f5f4f4 !important;
}
.aboutAllContainer > div > div.leftSide > div:nth-child(4) > div > a > svg {
  fill: #03055c !important;
}
.aboutAllContainer
  > div
  > div.leftSide
  > div:nth-child(4)
  > div
  > a:hover
  > svg {
  fill: #f5f5f5 !important;
}

#root
  > div
  > div.ProjectsAllContainerDark
  > div
  > div
  > div.dataUrls
  > a
  > svg {
  fill: #d8d8d8;
}
/* Skills */

.SkillsContainer {
  background: -webkit-linear-gradient(
    66deg,
    rgb(233, 150, 150) 0%,
    rgb(101, 135, 228) 51%,
    rgb(91, 3, 192) 100%
  );
  height: 100vh;
  /* height: 100vw; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
  min-width: 100%;
  min-height: 350px;
}

.skillsh2 {
  /* font-style: italic; */
  color: #04003f;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Inter", sans-serif;
}

@media (max-width: 500px) {
  .skillsflexContainer {
    width: 80%;
    padding: 50px 50px;
  }
}

.skillsflexContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 3rem;
}

.skillsImg {
  max-width: 200px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
}

.skillsname {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  margin-top: 10px;
}

.SkillsContainerDark {
  height: 100vh;
  background: -webkit-linear-gradient(
    90deg,
    rgb(92, 25, 209) 0%,
    rgb(36, 0, 128) 43%,
    rgb(3, 0, 59) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 3rem;
  min-width: 100%;
  /* min-height: 350px; */
}

.skillsh2Dark {
  /* font-style: italic; */
  font-size: 3.3rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #dfdfdf;
}

/* Profile */

.profileAllContainer {
  width: 100%;
  background: -webkit-linear-gradient(
    66deg,
    rgb(184, 179, 179) 0%,
    rgb(253, 98, 220) 51%,
    rgb(255, 197, 38) 100%
  );
  display: flex;
  align-items: center;
  height: 100vh;
  /* padding-top: 3rem; */
  padding-bottom: 8rem;
}

.profileAllContainerDark {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    66deg,
    rgb(65, 19, 19) 0%,
    rgb(66, 0, 52) 51%,
    rgba(126, 0, 0, 1) 100%
  );
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.Profileh2 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  color: #04003f;
  font-family: "Inter", sans-serif;
  margin-bottom: 5rem;
}

.profilePersonalInformation {
  color: #1a000b;
  margin-bottom: 10px;
  font-weight: 600;
}
.profilePersonalInformationDark {
  color: #f0f0f0;
  margin-bottom: 10px;
  font-weight: 800;
}

.profileContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 0;
  /* background-color: #0a66c2; */
  margin: 0 auto;
  flex-wrap: wrap;
}

.profileBox {
  width: 30%;
  min-width: 600px;
  border-radius: 0.6rem;
  padding: 1rem;
  background: -webkit-linear-gradient(
    75deg,
    rgb(226, 178, 178) 0%,
    rgb(238, 136, 216) 45%,
    rgb(255, 57, 57) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (max-width: 1620px) {
  .profileBox {
    min-width: 400px;
  }
  .profileBoxDark {
    min-width: 400px !important;
  }
  .profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }
  .profileIcerik {
    width: 750px;
  }

  .boxinbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  * {
    font-size: 16px;
  }
  .profileBox {
    min-width: 400px;
  }
  .profileBoxDark {
    min-width: 400px !important;
  }
  .profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }
  .profileIcerik {
    width: 750px;
  }

  .boxinbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
  .profileBox {
    min-width: 80%;
  }
  .profileBoxDark {
    min-width: 80% !important;
  }
  .profileIcerik {
    width: 80% !important;
    margin-top: 3rem;
    padding: 0;
  }
}

.profileBoxDark {
  width: 30%;
  min-width: 600px;
  border-radius: 0.6rem;
  padding: 1rem;
  background: rgba(116, 0, 48, 0.61);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: rgba(243, 153, 153, 0.4) 0px 2px 4px,
    rgba(83, 8, 8, 0.3) 0px 7px 13px -3px,
    rgba(95, 19, 19, 0.2) 0px -3px 0px inset;
}

.boxinbox {
  display: flex;

  flex-wrap: wrap;
}
.boxinbox div:first-child {
  margin-right: 1rem;
  min-width: 8rem;
  max-width: 8rem;
}

.profileIcerik {
  /* margin-top: 2rem; */

  padding-left: 2rem;
  padding-top: 2rem;
  /* padding: 1rem 1rem; */
  width: 40%;
  min-width: 600px;
  text-align: justify;
  min-width: 300px;
  border-radius: 0.6rem;
  padding: 1rem;
}

/* Dark */

.Profileh2Dark {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-bottom: 5rem;
  color: #dfdfdf;
  text-shadow: -1px 1px 5px rgba(223, 223, 223, 0.11);
}
.PofileTitlesdark {
  /* color: #FDFDFD; */
  color: #f8f8f8;
}

.profileDataDark {
  color: #ada9bd;
}

.profileIcerikTitle {
  margin: 0.2rem 0 0.5rem;
  /* color: #dfdfdf; */
}

.profileIcerikTitleDark {
  margin: 0.2rem 0 0.5rem;
  color: #dfdfdf;
}

.profileIcerikDataDark {
  color: #ada9bd;
}

/* Projects */

.ProjectsAllContainer {
  background: -webkit-linear-gradient(
    66deg,
    rgb(235, 155, 228) 0%,
    rgb(127, 160, 253) 67%,
    rgb(216, 28, 28) 100%
  );
  /* min-height: 200vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 3rem;
}
.ProjectsAllContainerDark {
  background: -webkit-linear-gradient(
    60deg,
    rgb(0, 58, 48) 0%,
    rgb(36, 0, 128) 43%,
    rgb(49, 0, 47) 100%
  );
  /* min-height: 200vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 3rem;
}
.projectsTitleh2 {
  color: #04003f;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
}

.projectsTitleh2Dark {
  color: #dfdfdf;
}

.projectsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .ProjectsAllContainer {
    padding: 0;
    padding-top: 30px;
  }
  .ProjectsAllContainerDark {
    padding: 0;
    padding-top: 30px;
  }
  .projectsContainer {
    justify-content: center;
  }

  .portfolioCards {
    min-width: 12rem;
  }
}

.portfolioCards {
  min-width: 350px;
  max-width: 30%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: max-content;
  border-radius: 0.6rem;
  padding: 1rem;
  background: rgba(237, 40, 255, 0.404);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.portfolioCardsDark {
  min-width: 350px;
  max-width: 30%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 700px; */
  border-radius: 0.6rem;
  padding: 1rem;
  background: rgba(0, 29, 73, 0.767);
  box-shadow: rgba(35, 0, 99, 0.16) 0px 3px 6px,
    rgba(115, 85, 199, 0.23) 0px 3px 6px;
}

@media (max-width: 1300px) {
  .projectsImgs {
    min-width: 280px;
    min-height: 300px !important;
  }

  .projectsContainer {
    justify-content: space-around;
  }
}
@media (max-width: 1000px) {
  .projectsImgs {
    min-width: 250px;
    min-height: 250px !important;
  }
}
@media (max-width: 600px) {
  .projectsImgs {
    min-width: 90%;
    min-height: 60vw !important;
  }
}

.projectsImgs {
  max-width: 15vw;
  max-height: 15vw;
  min-height: 15vw;
  padding-top: 1rem;
}

.projectsdataname {
  margin-top: 2rem;
  text-transform: uppercase;
  font-family: "Alegreya", serif;
  font-size: 1.3rem;
}
.projectsdatanameDark {
  color: #ffffff;
}

.description {
  text-align: justify;
  margin-top: 1rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.descriptionDark {
  color: #dad5d5;
}

.dataTags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dataTagsChildrenDiv {
  padding: 0.2rem 1rem;
  margin: 1rem 1rem 0.2rem 0rem;
  text-align: center;
  border: 1px solid #3730a3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: default;
  text-transform: capitalize;
  text-decoration: none;
  color: #3730a3;
  border-radius: 10px;
  text-transform: uppercase;
}

.dataTagsChildrenDivDark {
  padding: 0.2rem 1rem;
  margin: 1rem 1rem 0.2rem 0rem;
  text-align: center;
  border: 1px solid #777777;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: default;
  text-transform: capitalize;
  text-decoration: none;
  color: #3730a3;
  border-radius: 10px;
  text-transform: uppercase;
}

.dataTagsChildrenDivSpan {
  font-size: 0.8rem;
}

.dataTagsChildrenDivSpanDark {
  font-size: 0.8rem;
  color: #ada9bd;
}

.dataUrls {
  margin-top: 1rem;
  display: flex;
}

.dataUrlsATags {
  padding: 0.2rem 1rem;
  margin: 1rem 1rem 1rem 0rem;
  text-align: center;
  border: 1px solid #3730a3;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  color: #3730a3;
  border-radius: 10px;
}

.dataUrlsATagsDark {
  padding: 0.2rem 1rem;
  margin: 1rem 1rem 1rem 0rem;
  text-align: center;
  border: 1px solid #777777;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  color: #ada9bd;
  border-radius: 10px;
}
.dataUrlsATags:hover {
  background-color: #3730a3;
  color: white;
}
.dataUrlsATagsDark:hover {
  background-color: #777777;
  color: white;
}

#root
  > div
  > div.ProjectsAllContainerDark
  > div
  > div
  > div.dataUrls
  > a
  > svg
  > path {
  color: #aeaeb6;
}
#root
  > div
  > div.ProjectsAllContainerDark
  > div
  > div
  > div.dataUrls
  > a:hover
  > svg
  > path {
  color: #ffffff;
}

/* Footer */

.FooterParentDark {
  background-color: #232228;
  width: 100%;
}
.FooterAllContainerDark {
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(
    66deg,
    rgb(53, 0, 0) 0%,
    rgb(68, 3, 54) 51%,
    rgb(107, 0, 0) 100%
  );
  /* padding: 3rem 0 4rem; */
  /* max-width: 60%; */
  margin: 0 auto;
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.FooterAllContainer {
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(
    66deg,
    rgb(184, 179, 179) 0%,
    rgb(253, 98, 220) 51%,
    rgb(255, 197, 38) 100%
  );
  /* padding: 3rem 0 4rem;
  max-width: 60%; */
  margin: 0 auto;
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footerh2 {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  background-image: -webkit-linear-gradient(
    337deg,
    rgb(2, 124, 114) 10%,
    rgb(0, 17, 170) 42%,
    rgb(47, 0, 85) 78%
  );
  animation: h2color 15s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerh2Dark {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  background-image: -webkit-linear-gradient(
    60deg,
    rgb(255, 251, 15) 30%,
    rgb(51, 241, 137) 42%,
    rgba(233, 48, 233, 0.8) 78%
  );
  animation: h2color 15s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes h2color {
  to {
    background-position: 300vh;
  }
}

.footerdescription {
  font-family: "Alegreya", serif;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #00193b;
}

.footerdescriptionDark {
  font-family: "Alegreya", serif;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #ada9bd;
}

.footermail {
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.footerEmailATags {
  font-family: "Alegreya", serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: #52001e;
  font-weight: 500;
  cursor: url("../public/pointinghand.svg"), auto;
}

.footerEmailATagsDark {
  font-family: "Alegreya", serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #cccccc;
  font-weight: 500;
  cursor: url("../public/pointinghand.svg"), auto;
}

.FooterContainer > .iconsdiv {
  display: flex;
  justify-content: center;
}

.FooterContainer > .iconsdiv > a > svg {
  margin-right: 2rem;
  font-size: 2rem;
}

#contact > div > div > div.iconsdiv > a:nth-child(1) > svg {
  fill: rgb(255, 255, 255) !important;
}
#contact > div > div > div.iconsdiv > a:nth-child(2) > svg {
  fill: rgb(10, 102, 194) !important;
}
#contact > div > div > div.iconsdiv > a:nth-child(3) > svg {
  fill: rgb(255, 30, 30) !important;
}
#contact > div > div > div.iconsdiv > a:nth-child(1) > svg:hover {
  scale: 1.18;
  opacity: 0.85;
}
#contact > div > div > div.iconsdiv > a:nth-child(2) > svg:hover {
  scale: 1.18;
  opacity: 0.85;
}
#contact > div > div > div.iconsdiv > a:nth-child(3) > svg:hover {
  scale: 1.18;
  opacity: 0.85;
}

.notFound {
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
}

.notFound h1 {
  font-size: 15rem;
  margin-bottom: 0;
}
.notFound h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
